<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">OnCue Admin</title>
        <!-- 메인 공통 Head -->
        <th:block th:replace="fragments/head :: headFragment"></th:block>

        <!-- 페이지 개별 Css  -->
        <th:block layout:fragment="pageCss"/>
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- Navbar Fragment -->
            <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

            <!-- 메인 좌측 Sidebar Fragment-->
            <th:block th:replace="fragments/asideMain :: lsideFragment"></th:block>

            <!-- Content -->
            <th:block layout:fragment="content"></th:block>

            <!-- 메인 우측 Sidebar Fragment -->
            <th:block th:replace="fragments/asideControl :: rsideFragment"></th:block>

            <!-- 메인 Footer Fragment-->
            <th:block th:replace="fragments/footer :: footerFragment"></th:block>
        </div>
        <!-- Add Server Modal -->
        <div th:insert="fragments/modals/addOnCue :: addOnCue"></div>

        <!-- 공통 Script Fragment -->
        <th:block th:replace="fragments/commonScript :: commonScriptFragment"></th:block>

        <!-- 페이지 개별 Script -->
        <th:block layout:fragment="pageScript"/>
    </body>
</html>