<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Main Sidebar Container -->
	<aside th:fragment="lsideFragment" class="main-sidebar sidebar-dark-primary elevation-4" >
		<!-- Brand Logo -->
		<a href="index3.html" class="brand-link"><img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
			<span class="brand-text font-weight-light">OnCue Admin</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user panel (optional) -->
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
					<a href="#" class="d-block">Alexander Pierce</a>
				</div>
			</div>

			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
					<li class="nav-item">
						<a href="/" class="nav-link"><i class="nav-icon fas fa-tachometer-alt"></i>
							<p>
								Dashboard
							</p>
						</a>
					</li>
					<li class="nav-item has-treeview">
						<a href="/management" class="nav-link"><i class="nav-icon fas fa-copyright"></i>
							<p>
								OnCue Management <i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="/detail" class="nav-link"><p>&emsp;</p><i class="fas fa-power-off nav-icon" style="color: #00c054"></i><p>CJ LINE 6</p></a>
							</li>
							<li class="nav-item">
								<a href="/detail" class="nav-link"><p>&emsp;</p><i class="fas fa-power-off nav-icon" style="color: #00c054"></i><p>CJ LINE 7</p></a>
							</li>
							<li class="nav-item">
								<a href="/detail" class="nav-link"><p>&emsp;</p><i class="fas fa-power-off nav-icon" style="color: #a71d2a"></i><p>CJ LINE 8</p></a>
							</li>
							<li class="nav-item">
								<a href="/detail" class="nav-link"><p>&emsp;</p><i class="fas fa-power-off nav-icon" style="color: #00c054"></i><p>CJ LINE 9</p></a>
							</li>
							<li class="nav-item">
								<a href="/detail" class="nav-link"><p>&emsp;</p><i class="fas fa-power-off nav-icon" style="color: #a71d2a"></i><p>CJ LINE 10</p></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link" data-toggle="modal" data-target="#addOnCueModal"><p>&emsp;</p><i class="fas fa-power-off nav-icon" style="color: #00c054"></i><p>Add OnCue</p></a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link"><i class="nav-icon fas fa-align-left"></i>
							<p>
								Notification <i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="/notificationBox" class="nav-link"><i class="fas fa-bug nav-icon"></i><p>Box</p></a>
							</li>
							<li class="nav-item">
								<a href="/notificationSetting" class="nav-link"><i class="fas fa-running nav-icon"></i><p>Setting</p></a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link"><i class="nav-icon fas fa-align-left"></i>
							<p>
								Log <i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="/logMonitoring" class="nav-link"><i class="fas fa-bug nav-icon"></i><p>Monitoring</p></a>
							</li>
							<li class="nav-item">
								<a href="/logDownload" class="nav-link"><i class="fas fa-running nav-icon"></i><p>Download</p></a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="/userManagement" class="nav-link"><i class="nav-icon fas fa-users"></i>
							<p>
								User Management
<!--								<span class="right badge badge-warning">Hide</span>-->
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="nav-icon fas fa-id-badge"></i>
							<p>
								License Management
<!--								<span class="right badge badge-warning">Hide</span>-->
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="nav-icon fas fa-comment"></i>
							<p>
								Version Control
							</p>
						</a>
					</li>
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
	</aside>
	<!-- /.sidebar -->

</body>
</html>