<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 메인 좌측 Sidebar Fragment-->
<th:block th:fragment="lsideFragment">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="javascript:void(0);" class="brand-link" onclick="javascript:goPage('/dashboard');"><img th:src="@{/images/favicon.png}" alt="AdminLTE Logo"
                                                     class="brand-image img-circle elevation-3"
                                                     style="opacity: .8;background-color: white;">
            <span class="brand-text font-weight-light">OnCue Admin</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition"><div class="os-resize-observer-host"><div class="os-resize-observer observed" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer observed"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 879px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" data-toggle="pill" role="menu" data-accordion="false">

                    <!-- Dashboard -->
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link" id="dashboard" data-toggle="pill" onclick="javascript:goPage('/dashboard');">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                    <!-- /.Dashboard -->

                    <!-- OnCue Details, Add OnCue -->
                    <li class="nav-item has-treeview">
                        <a href="javascript:void(0);" class="nav-link" data-toggle="pill">
                            <i class="nav-icon fas fa-copyright"></i>
                            <p>
                                OnCue
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" id="detail" data-toggle="pill" onclick="javascript:goPage('/detail');">
                                    <p>&emsp;</p>
                                    <i class="fas fa-power-off nav-icon text-success"></i>
                                    <p>CJ LINE 6</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <p>&emsp;</p>
                                    <i class="fas fa-power-off nav-icon text-success"></i>
                                    <p>CJ LINE 7</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <p>&emsp;</p>
                                    <i class="fas fa-power-off nav-icon text-danger"></i>
                                    <p>CJ LINE 8</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <p>&emsp;</p>
                                    <i class="fas fa-power-off nav-icon text-danger"></i>
                                    <p>CJ LINE 9</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <p>&emsp;</p>
                                    <i class="fas fa-power-off nav-icon text-success"></i>
                                    <p>CJ LINE 10</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="modal"
                                   data-target="#addOnCueModal"><p>
                                    &emsp;</p>
                                    <i class="fas fa-plus-square nav-icon text-info"></i>
                                    <p>Add OnCue</p></a>
                            </li>
                        </ul>
                    </li>
                    <!-- /.OnCue Details, Add OnCue -->

                    <!-- Notification -->
                    <li class="nav-item has-treeview">
                        <a href="javascript:void(0);" class="nav-link">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>
                                Notification <i class="right fas fa-angle-left"></i>
                                <span class="right badge badge-warning">New</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" id="notificationBox" onclick="javascript:goPage('/notificationBox');">
                                    <p>&emsp;</p>
                                    <i class="fas fa-bookmark nav-icon"></i>
                                    <p>Box<span class="badge badge-warning right">8</span>
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" id="notificationSetting" onclick="javascript:goPage('/notificationSetting');">
                                    <p>&emsp;</p>
                                    <i class="fas fa-cog nav-icon"></i>
                                    <p>Setting</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /.Notification -->

                    <!-- Log -->
                    <li class="nav-item has-treeview">
                        <a href="javascript:void(0);" class="nav-link"><i class="nav-icon fas fa-align-left"></i>
                            <p>
                                Log <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" id="logMonitoring" onclick="javascript:goPage('/logMonitoring');"><p>&emsp;</p><i
                                        class="fas fa-bug nav-icon"></i>
                                    <p>Monitoring</p></a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" id="logDownload" onclick="javascript:goPage('/logDownload');"><p>&emsp;</p><i
                                        class="fas fa-running nav-icon"></i>
                                    <p>Download</p></a>
                            </li>
                        </ul>
                    </li>
                    <!-- /.Log -->

                    <!-- User Management -->
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link" id="userManagement" onclick="javascript:goPage('/userManagement');"><i class="nav-icon fas fa-user-cog"></i>
                            <p>
                                User Management
                            </p>
                        </a>
                    </li>
                    <!-- /.User Management -->

                    <!-- License -->
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="nav-icon fas fa-id-badge"></i>
                            <p>
                                License Management
                            </p>
                        </a>
                    </li>
                    <!-- /.License -->

                    <!-- Version Control -->
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="nav-icon fas fa-comment"></i>
                            <p>
                                Version Control
                            </p>
                        </a>
                    </li>
                    <!-- /.Version Control -->
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 78.0142%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
        <!-- /.sidebar -->
    </aside>
</th:block>
</html>