<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <!-- 페이지 Title -->
    <title>Detail</title>

    <!-- 페이지 개별 Script  -->
    <th:block layout:fragment="pageCss">
    </th:block>
</head>

<!-- Content Fragment -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">CJ Line 6 OnCue</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
    <!-- /.Content-Header -->

    <!-- Content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row display-flex">
                <!-- Chart1 Area -->
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                OnCue Chart
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool dropdown-toggle"
                                        data-toggle="dropdown"><i
                                        class="fas fa-bars"></i>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                                        <li class="dropdown-header">OnCue Resource</li>
                                        <a href="#" class="dropdown-item" onClick="changeChart(this);">
                                            CPU Resource
                                        </a>
                                        <a href="#" class="dropdown-item" onClick="changeChart(this);">
                                            Memory Resource
                                        </a>
                                        <a href="#chart1-disk" class="dropdown-item" onClick="changeChart(this);">
                                            Disk Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <li class="dropdown-header">OnCue Performance</li>
                                        <a href="#chart1-processingSpeed" class="dropdown-item"
                                           onClick="changeChart(this);">
                                            Processing Speed
                                        </a>
                                        <a href="#chart1-processingData" class="dropdown-item"
                                           onClick="changeChart(this);">
                                            Processed Data Count
                                        </a>
                                        <!--                                                <div class="dropdown-divider"></div>-->
                                        <!--                                                <a href="#" class="dropdown-item dropdown-footer">See All-->
                                        <!--                                                    Notifications</a>-->
                                    </div>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <div id="chart1" class="drop"
                                 style="height: 210px; padding: 0px; position: relative;">
                                <canvas class="flot-base" width="246" height="280"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 246.406px; height: 280px;"></canvas>
                                <canvas class="flot-overlay" width="246" height="280"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 246.406px; height: 280px;"></canvas>
                            </div>
                            <label>Processing Speed</label>
                        </div>
                    </div>
                </div>
                <!-- /.Chart1 Area -->

                <!-- Chart2 Area -->
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                OnCue Chart
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool dropdown-toggle"
                                        data-toggle="dropdown"><i
                                        class="fas fa-bars"></i>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            CPU Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Memory Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Disk Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Processing Speed
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Processed Data Count
                                        </a>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <div id="chart2" class="drop"
                                 style="height: 210px; padding: 0px; position: relative;">
                                <canvas class="flot-base" width="246" height="280"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 246.406px; height: 280px;"></canvas>
                                <canvas class="flot-overlay" width="246" height="280"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 246.406px; height: 280px;"></canvas>
                            </div>
                            <label>Processed Data Count</label>
                        </div>
                    </div>
                </div>
                <!-- /.Chart2 Area -->

                <!-- Chart3 Area -->
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                OnCue Chart
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool dropdown-toggle"
                                        data-toggle="dropdown"><i
                                        class="fas fa-bars"></i>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            CPU Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Memory Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Disk Resource
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Processing Speed
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            Processed Data Count
                                        </a>
                                        <!--                                                <div class="dropdown-divider"></div>-->
                                        <!--                                                <a href="#" class="dropdown-item dropdown-footer">See All-->
                                        <!--                                                    Notifications</a>-->
                                    </div>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <div id="chart3" class="drop"
                                 style="height: 210px; padding: 0px; position: relative;">
                                <canvas class="flot-base" width="246" height="280"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 246.406px; height: 280px;"></canvas>
                                <canvas class="flot-overlay" width="246" height="280"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 246.406px; height: 280px;"></canvas>
                            </div>
                            <label>Memory</label>
                        </div>
                    </div>
                </div>
                <!-- /.Chart3 Area -->

                <!-- OnCue Management Area -->
                <div class="col-md-3">
                    <div class="card card-primary card-outline h-100">
                        <div class="card-header">
                            <h3 class="card-title">OnCue Management</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                                <!--                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">OnCue Host Name</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       placeholder="CJ Line 6">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">OnCue IP Address</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="192.168.1.251">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary btn-sm" style="width: 19%;">Save</button>
                            <button type="submit" class="btn btn-danger btn-sm" style="width: 19%;">Delete</button>
                        </div>
                    </div>
                </div>
                <!-- /.OnCue Management Area -->
            </div>
            <div class="row">
                <!-- Connected Devices -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Connected Devices</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-head-fixed text-nowrap table-sm">
                                <thead>
                                <tr>
                                    <th style="width: 1%">No</th>
                                    <th style="width: 19%" class="text-center">Path Id</th>
                                    <th style="width: 10%" class="text-center">Protocol</th>
                                    <th style="width: 15%" class="text-center">Url</th>
                                    <th style="width: 15%" class="text-center">Module Status</th>
                                    <th style="width: 10%" class="text-center">Version</th>
                                    <th style="width: 10%" class="text-center">Connected</th>
                                    <th style="width: 10%" class="text-center">Disconnected</th>
                                    <th style="width: 10%" class="text-center">In use</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="text-center">connectionName1</td>
                                    <td class="text-center">Modbus</td>
                                    <td class="text-center">
                                        192.168.1.12
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-success" style="width: 60%" ;>Loaded</span>
                                    </td>
                                    <td class="text-center">7.25</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">2</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="text-center">connectionName2</td>
                                    <td class="text-center">Modbus</td>
                                    <td class="text-center">
                                        192.168.1.12
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-success" style="width: 60%" ;>Loaded</span>
                                    </td>
                                    <td class="text-center">7.25</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">0</td>
                                    <td class="text-center">3</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="text-center">connectionName3</td>
                                    <td class="text-center">Modbus</td>
                                    <td class="text-center">
                                        192.168.1.12
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-warning" style="width: 60%" ;>Unlicensed</span>
                                    </td>
                                    <td class="text-center">7.25</td>
                                    <td class="text-center">4</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">4</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="text-center">connectionName4</td>
                                    <td class="text-center">OPCDA</td>
                                    <td class="text-center">
                                        192.168.1.155
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-danger" style="width: 60%" ;>UnLoaded</span>
                                    </td>
                                    <td class="text-center">2.05a</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">3</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="text-center">connectionName1</td>
                                    <td class="text-center">Modbus</td>
                                    <td class="text-center">
                                        192.168.1.12
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-success" style="width: 60%" ;>Loaded</span>
                                    </td>
                                    <td class="text-center">7.25</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">2</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="text-center">connectionName2</td>
                                    <td class="text-center">Modbus</td>
                                    <td class="text-center">
                                        192.168.1.12
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-success" style="width: 60%" ;>Loaded</span>
                                    </td>
                                    <td class="text-center">7.25</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">0</td>
                                    <td class="text-center">3</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="text-center">connectionName3</td>
                                    <td class="text-center">Modbus</td>
                                    <td class="text-center">
                                        192.168.1.12
                                    </td>
                                    <td class="project-state text-center">
                                        <span class="badge badge-warning" style="width: 60%" ;>Unlicensed</span>
                                    </td>
                                    <td class="text-center">7.25</td>
                                    <td class="text-center">4</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">4</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.Connected Devices -->

                <!-- OnCue Informations -->
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <i class="fas fa-power-off nav-icon" style="color: #00c054"></i>
                            </div>

                            <h3 class="profile-username text-center">CJ Line 6</h3>

                            <p class="text-muted text-center">Running</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>OnCue Start Stop</b>
                                    <div class="btn-group btn-toggle float-right" id="startStopControl2">
                                        <button class="btn btn-sm btn-primary active">Start</button>
                                        <button class="btn btn-sm btn-default">Stop</button>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <b>IP Address</b> <a class="float-right">192.182.123.1</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Processing Speed</b> <a class="float-right">1021 / min</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Processed Data</b> <a class="float-right">12021</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Started Date</b> <a class="float-right">2020-09-15</a>
                                </li>
                                <li class="list-group-item">
                                    <b>OnCue Version</b> <a class="float-right">0.9.1</a>
                                </li>
                            </ul>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.OnCue Informations -->
            </div>
        </div>
    </section>
    <!-- /.Content -->
</div>

<!-- 페이지 개별 Script -->
<th:block layout:fragment="pageScript">
    <!-- FLOT CHARTS -->
    <script th:src="@{/plugins/flot/jquery.flot.js}"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script th:src="@{/plugins/flot-old/jquery.flot.resize.min.js}"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script th:src="@{/plugins/flot-old/jquery.flot.pie.min.js}"></script>
    <!-- About Dashboard -->
    <script th:src="@{/scripts/detail.js}"></script>
</th:block>
</html>