<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <!-- 페이지 Title -->
    <title>Log Monitoring</title>

    <!-- 페이지 개별 Script  -->
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" th:href="@{/css/logMonitoring.css}">
    </th:block>
</head>

<!-- Content Fragment -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">OnCue Log</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- Request Log -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">RealTime OnCue Log</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form">
                            <!-- Select log domain -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Log Domain</label>
                                        <div class="custom-control custom-radio vertical">
                                            <input class="custom-control-input" type="radio" id="customRadio1"
                                                   name="customRadio" checked="">
                                            <label for="customRadio1" class="custom-control-label">OnCue</label>
                                        </div>
                                        <div class="custom-control custom-radio vertical">
                                            <input class="custom-control-input" type="radio" id="customRadio2"
                                                   name="customRadio">
                                            <label for="customRadio2" class="custom-control-label">Protocol
                                                Module</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Select for detail search-->
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>OnCue Host Name(Alias)</label>
                                        <select class="form-control">
                                            <option>CJ Line 6</option>
                                            <option>CJ Line 7</option>
                                            <option>CJ Line 8</option>
                                            <option>CJ Line 9</option>
                                            <option>CJ Line 10</option>
                                            <option>CJ Line 11</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Protocol Module</label>
                                        <select class="form-control">
                                            <option>Modbus</option>
                                            <option>OPC DA</option>
                                            <option>CIP/EIP</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Log Level</label>
                                        <select class="form-control">
                                            <option>Info</option>
                                            <option>Debug</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Buffer Line Size</label>
                                        <select class="form-control">
                                            <option>8,100 bytes</option>
                                            <option>4,050 bytes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="margin float-right">
                            <button type="submit" class="btn btn-primary">Apply</button>
                            <!--                    <button type="submit" class="btn btn-primary">Start</button>-->
                            <!--                    <button type="submit" class="btn btn-danger">Stop</button>-->
                        </div>
                    </div>
                </div>
                <!-- /.Request Log -->
            </div>
            <div class="row h-10">
                <!-- Log View -->
                <div class="col">
                    <div class="card card-primary card-outline card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="tabs" role="tablist">
                                <li class="nav-item">
                                    <a href="#tab1" onclick="clickedTab(this);" data-url="/sample/tab1"
                                       class="nav-link active" role="tab">CJ Line 6</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab2" onclick="clickedTab(this);" data-url="/sample/tab2" class="nav-link"
                                       role="tab">CJ Line 7</a><!-- data-toggle="pill"  -->
                                </li>
                                <li class="nav-item">
                                    <a href="#tab3" onclick="clickedTab(this);" data-url="/sample/tab3" class="nav-link"
                                       role="tab">CJ Line 8</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade active show" id="tab1" role="tabpanel">
                                    <div class="log-tab" id="tab1-log">tab1</div>
                                </div>
                                <div class="tab-pane fade" id="tab2" role="tabpanel">
                                    <div class="log-tab" id="tab2-log">tab2</div>
                                </div>
                                <div class="tab-pane fade" id="tab3" role="tabpanel">
                                    <div class="log-tab" id="tab3-log">tab3</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-info btn-sm" onclick="openLogLayer('tab1');"
                                    style="width: 8%;">PopUp
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="startLayerLog('tab1');"
                                    style="width: 8%;">Start
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="stopLayerLog();"
                                    style="width: 8%;">Stop
                            </button>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.Log View -->
            </div>
        </div>
    </section>
    <!-- /.Content -->
</div>

<!-- modal page -->
<div class="modal fade modeless" id="tab1-layer"
     style="display: none; width:auto; height:auto; padding-left: 17px;" aria-hidden="true">
    <div class="modal-dialog-log">
        <div class="modal-content ui-widget-content" id="tab1-resizable" style="width:600px; height:400px;">
            <div class="modal-header">
                <h4 class="modal-title">tab1 log</h4>
                <button type="button" class="btn btn-default" onclick="startLayerLog('tab1');">보기</button>
                <button type="button" class="btn btn-default" onclick="stopLayerLog('tab1');">정지</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="closeLayer('tab1');">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="log-layer" id="tab1-layer-log"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modeless" id="tab2-layer"
     style="display: none; width:auto; height:auto; padding-left: 17px;" aria-hidden="true">
    <div class="modal-dialog-log">
        <div class="modal-content ui-widget-content" id="tab2-resizable" style="width:600px; height:400px;">
            <div class="modal-header">
                <h4 class="modal-title">tab2 log</h4>
                <button type="button" class="btn btn-default" onclick="startLayerLog('tab2');">보기</button>
                <button type="button" class="btn btn-default" onclick="stopLayerLog('tab2');">정지</button>
                <button type="button" class="close" onclick="closeLayer('tab2');">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="log-layer" id="tab2-layer-log"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modeless" id="tab3-layer"
     style="display: none; width:auto; height:auto; padding-left: 17px;" aria-hidden="true">
    <div class="modal-dialog-log">
        <div class="modal-content ui-widget-content" id="tab3-resizable" style="width:600px; height:400px;">
            <div class="modal-header">
                <h4 class="modal-title">tab3 log</h4>
                <button type="button" class="btn btn-default" onclick="startLayerLog('tab3');">보기</button>
                <button type="button" class="btn btn-default" onclick="stopLayerLog('tab3');">정지</button>
                <button type="button" class="close" onclick="closeLayer('tab3');">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="log-layer" id="tab3-layer-log"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- 페이지 개별 Script -->
<th:block layout:fragment="pageScript">
    <script th:src="@{/scripts/logMonitoring.js}"></script>
</th:block>
</html>