<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Notification Setting.html</title>
    <!-- 컨텐츠 페이지 고유 스타일 추가 title 과 함께 자동으로 layout에 추가됨. -->

    <!-- Ion Slider --->
    <link rel="stylesheet" th:href="@{/plugins/ion-rangeslider/css/ion.rangeSlider.min.css}">
    <!-- Bootstrap Slider --->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-slider/css/bootstrap-slider.min.css}">
</head>
<body class="hold-transition sidebar-mini">
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">OnCue Notification</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Setting</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <form role="form">
                    <!-- Select OnCue -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>OnCue Host Alias</label>
                                <select class="form-control">
                                    <option>All OnCue</option>
                                    <option>CJ Line 6</option>
                                    <option>CJ Line 7</option>
                                    <option>CJ Line 8</option>
                                    <option>CJ Line 9</option>
                                    <option>CJ Line 10</option>
                                    <option>CJ Line 11</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Setting -->
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3 text-left">
                            <div class="form-group">
                                <label>User Action</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox1"
                                           value="option1">
                                    <label for="customCheckbox1" class="custom-control-label">User Login</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked="">
                                    <label for="customCheckbox2" class="custom-control-label">OnCue Start/Stop</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox3" checked="">
                                    <label for="customCheckbox3" class="custom-control-label">Any Type of Apply</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- System resource threshol on total -->
                            <div class="form-group">
                                <label>System Threshol</label>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <label>CPU</label>
                                    </div>
                                    <div class="col-sm-8">
                                                <span class="irs irs--flat js-irs-2">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0"></span>
                                                    <span class="irs-min" style="visibility: visible;">0 %</span>
                                                    <span class="irs-max" style="visibility: visible;">100 %</span>
                                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                                    <span class="irs-single" style="left: 66.8705%;">70 %</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar irs-bar--single"
                                                      style="left: 0px; width: 70%;"></span>
                                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                                <span class="irs-handle single"
                                                      style="left: 70%;"><i></i><i></i><i></i></span>
                                            </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <label>Memory</label>
                                    </div>
                                    <div class="col-sm-8">
                                                <span class="irs irs--flat js-irs-2">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0"></span>
                                                    <span class="irs-min" style="visibility: visible;">0 %</span>
                                                    <span class="irs-max" style="visibility: visible;">100 %</span>
                                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                                    <span class="irs-single" style="left: 66.8705%;">50 %</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar irs-bar--single"
                                                      style="left: 0px; width: 50%;"></span>
                                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                                <span class="irs-handle single"
                                                      style="left: 50%;"><i></i><i></i><i></i></span>
                                            </span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <label>Disk Space</label>
                                    </div>
                                    <div class="col-sm-8">
                                                <span class="irs irs--flat js-irs-2">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0"></span>
                                                    <span class="irs-min" style="visibility: visible;">0 %</span>
                                                    <span class="irs-max" style="visibility: visible;">100 %</span>
                                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                                    <span class="irs-single" style="left: 66.8705%;">80 %</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar irs-bar--single"
                                                      style="left: 0px; width: 80%;"></span>
                                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                                <span class="irs-handle single"
                                                      style="left: 80%;"><i></i><i></i><i></i></span>
                                            </span>
                                    </div>

                                </div>
                            </div>
                            <!-- OnCue usage resource threshol on system -->
                            <div class="form-group">
                                <label>OnCue Threshol</label>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <label>CPU</label>
                                    </div>
                                    <div class="col-sm-8">
                                                <span class="irs irs--flat js-irs-2">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0"></span>
                                                    <span class="irs-min" style="visibility: visible;">0 %</span>
                                                    <span class="irs-max" style="visibility: visible;">100 %</span>
                                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                                    <span class="irs-single" style="left: 66.8705%;">70 %</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar irs-bar--single"
                                                      style="left: 0px; width: 70%;"></span>
                                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                                <span class="irs-handle single"
                                                      style="left: 70%;"><i></i><i></i><i></i></span>
                                            </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <label>Memory</label>
                                    </div>
                                    <div class="col-sm-8">
                                                <span class="irs irs--flat js-irs-2">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0"></span>
                                                    <span class="irs-min" style="visibility: visible;">0 %</span>
                                                    <span class="irs-max" style="visibility: visible;">100 %</span>
                                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                                    <span class="irs-single" style="left: 66.8705%;">50 %</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar irs-bar--single"
                                                      style="left: 0px; width: 50%;"></span>
                                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                                <span class="irs-handle single"
                                                      style="left: 50%;"><i></i><i></i><i></i></span>
                                            </span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <label>Disk Space</label>
                                    </div>
                                    <div class="col-sm-8">
                                                <span class="irs irs--flat js-irs-2">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0"></span>
                                                    <span class="irs-min" style="visibility: visible;">0 %</span>
                                                    <span class="irs-max" style="visibility: visible;">100 %</span>
                                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                                    <span class="irs-single" style="left: 66.8705%;">80 %</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar irs-bar--single"
                                                      style="left: 0px; width: 80%;"></span>
                                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                                <span class="irs-handle single"
                                                      style="left: 80%;"><i></i><i></i><i></i></span>
                                            </span>
                                        <!--                                                <input id="range_5" type="text" name="range_5" value="" class="irs-hidden-input" tabindex="-1" readonly="">-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="margin float-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<th:block layout:fragment="pageScript">
    <!-- ion.rangeSlider -->
    <script th:src="@{/plugins/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>
    <!-- bootstrap-slider -->
    <script th:src="@{/plugins/bootstrap-slider/bootstrap-slider.min.js}"></script>
</th:block>
</body>
</html>