<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <!-- 페이지 Title -->
    <title>Notification Box</title>

    <!-- 페이지 개별 Script  -->
    <th:block layout:fragment="pageCss">
        <!-- dater range picker -->
        <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
    </th:block>
</head>

<!-- Content Fragment -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Notification Box</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">Notification Box</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- Notification Search -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Notification Search</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form">
                                <!-- Select notification domain -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Notification Domain</label>
                                            <div class="custom-control custom-radio vertical">
                                                <input class="custom-control-input" type="radio" id="customRadio1"
                                                       name="customRadio" checked="">
                                                <label for="customRadio1" class="custom-control-label">Now
                                                    Notification</label>
                                            </div>
                                            <div class="custom-control custom-radio vertical">
                                                <input class="custom-control-input" type="radio" id="customRadio2"
                                                       name="customRadio">
                                                <label for="customRadio2" class="custom-control-label">All
                                                    Notification</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Select for detail search-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Notification Type</label>
                                            <select class="form-control">
                                                <option>User Action</option>
                                                <option>System Resource</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Date and time range:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input type="text" class="form-control float-right" id="reservationtime">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="margin float-right">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.Notification Search -->
            </div>
            <div class="row">
                <!-- Notifications -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Notifications</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-head-fixed text-nowrap table-sm">
                                <thead>
                                <tr>
                                    <th style="width: 1%">No</th>
                                    <th style="width: 15%" class="text-center">Type</th>
                                    <th style="width: 10%" class="text-center">User</th>
                                    <th style="width: 25%" class="text-center">Action</th>
                                    <th style="width: 25%" class="text-center">Message</th>
                                    <th style="width: 24%" class="text-center">Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="text-center">User Action</td>
                                    <td class="text-center">Gildong</td>
                                    <td class="text-center">Change password</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="text-center">System Resource</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">Cj Line 6's CPU Resouce Over 70</td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="text-center">User Action</td>
                                    <td class="text-center">Gildong</td>
                                    <td class="text-center">Change password</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="text-center">System Resource</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">Cj Line 6's CPU Resouce Over 70</td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="text-center">System Resource</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">Cj Line 6's CPU Resouce Over 70</td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="text-center">User Action</td>
                                    <td class="text-center">Gildong</td>
                                    <td class="text-center">Change password</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="text-center">User Action</td>
                                    <td class="text-center">Gildong</td>
                                    <td class="text-center">Change password</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">2020.08.20 10:29:28</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.Notifications -->
            </div>
        </div>
    </section>
    <!-- /.Content -->
</div>

<!-- 페이지 개별 Script -->
<th:block layout:fragment="pageScript">
    <!-- Moment for Date Range Picker -->
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <!-- Date Range Picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/scripts/dateRangePicker.js}"></script>
    <script th:src="@{/scripts/notificationBox.js}"></script>
</th:block>
</html>