<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <!-- 페이지 Title -->
    <title>Notification Box</title>

    <!-- 페이지 개별 Script  -->
    <th:block layout:fragment="pageCss">
        <!-- Ion Slider --->
        <link rel="stylesheet" th:href="@{/plugins/ion-rangeslider/css/ion.rangeSlider.min.css}">
        <!-- iCheck for checkboxes and radio inputs -->
        <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    </th:block>
</head>

<!-- Content Fragment -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Notification</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Global Setting</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                                <!--                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
                            </div>
                        </div>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <!-- checkbox -->
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary1">
                                        <label for="checkboxPrimary1">
                                            User Activity Tracking
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary2">
                                        <label for="checkboxPrimary2">
                                            OnCue Start/Stop
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="checkboxPrimary3">
                                        <label for="checkboxPrimary3">
                                            Any Type of Apply
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">OnCue Threshold Setting</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <form role="form">
                            <div class="card-body">
                                <!-- Select OnCue -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>OnCue Host Alias</label>
                                            <select class="form-control">
                                                <option>All OnCue</option>
                                                <option>CJ Line 6</option>
                                                <option>CJ Line 7</option>
                                                <option>CJ Line 8</option>
                                                <option>CJ Line 9</option>
                                                <option>CJ Line 10</option>
                                                <option>CJ Line 11</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Setting -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>OnCue Threshol</label>
                                        <br>
                                        <div class="form-group">
                                            <label>CPU</label>
                                            <input type="text" class="js-range-slider" name="cpuThreshol"
                                                   value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label>Memory</label>
                                            <input type="text" class="js-range-slider" name="memoryThreshol"
                                                   value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label>Disk</label>
                                            <input type="text" class="js-range-slider" name="diskThreshol"
                                                   value=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="margin float-right">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.ontent -->
</div>

<!-- 페이지 개별 Script -->
<th:block layout:fragment="pageScript">
    <!-- ion.rangeSlider -->
    <script th:src="@{/plugins/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/scripts/notificationSetting.js}"></script>
</th:block>
</html>